@tailwind utilities;
@tailwind base;
body {
  margin: 0;
}
/* Example: Custom Scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background:transparent ;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color:rgb(199, 199, 199);
}




/* Hide Scrollbar Completely */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;      /* IE and Edge */
  scrollbar-width: none;         /* Firefox */
}

/* Show Scrollbar Again (Override Hide) */
.scrollbar-show::-webkit-scrollbar {
  display: initial;
}

.scrollbar-show {
  -ms-overflow-style: auto !important;     /* Override hide */
  scrollbar-width: auto !important;        /* Override hide */
}


@media (min-width:640) {
  .sm\:scrollbar-hide{
  -ms-overflow-style: none;      /* IE and Edge */
  scrollbar-width: none;         /* Firefox */
  }
  .sm\:scrollbar-hide::-webkit-scrollbar{
   display:none;
  }
}