@tailwind utilities;
@tailwind base;
body {
  margin: 0;
}
/* Example: Custom Scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 0px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background:transparent ;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color:#0285c77d;
}

.scrollbar-thin {
  scrollbar-width: none; /* Options: auto | thin | none */
  scrollbar-color: #0285c77d transparent; /* thumb | track */
}



/* Remove arrows in Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
.no-spinner {
  -moz-appearance: textfield;
}

#textarea{
  field-sizing: content;
}